
version: '3.8'

services:
  # 1. Next.js Frontend
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PYTHON_API_URL=http://api:8000
      - MONGODB_URI=${MONGODB_URI}
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_GITHUB_ID=${AUTH_GITHUB_ID}
      - AUTH_GITHUB_SECRET=${AUTH_GITHUB_SECRET}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - NEXT_PUBLIC_APP_URL=https://your-domain.com
      - AUTH_URL=https://your-domain.com
      - TMDB_API_KEY=${TMDB_API_KEY}
    depends_on:
      - api

  # 2. Python Backend (Cenima CLI/API)
  api:
    build: 
      context: ./cenima-cli
      dockerfile: ../Dockerfile.cenima
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./cenima-cli:/app
    environment:
      - PYTHONUNBUFFERED=1
